
<h1>ToDo List</h1>

<div class="add-todo">
  <div>
    <label>Title</label>
    <input type="text" [(ngModel)]="newTitle" />
  </div>
  <div>
    <label>Expected Date</label>
    <input type="date" [(ngModel)]="newDate" />
  </div>
  <div>
    <button (click)="addTodo()">Add</button>
  </div>
</div>

<div class="todos">
  @for (todo of todos; track todo.id) {
    <div
      class="todo-row"
      [style.background]="isPastDue(todo.date) ? 'lightcoral' : 'white'"
      [class.even]="$even"
    >
      <div class="title">{{ todo.title }}</div>
      <div class="status">{{ todo.status }}</div>
      @switch (todo.status) {
        @case (TodoStatus.Done) { <div>✓</div> }
        @case (TodoStatus.NotDone) { <div>✗</div> }
        @case (TodoStatus.InProgress) { <div>⏳</div> }
      }
      <div class="date">{{ todo.date | date:'dd/MM/yyyy' }}</div>
      <div>
        <button
          (click)="updateStatus(todo, TodoStatus.Done)"
          [disabled]="todo.status === TodoStatus.Done">
          בוצע
        </button>
        <button
          (click)="updateStatus(todo, TodoStatus.InProgress)"
          [disabled]="todo.status === TodoStatus.InProgress">
          בתהליך
        </button>
        <button
          (click)="updateStatus(todo, TodoStatus.NotDone)"
          [disabled]="todo.status === TodoStatus.NotDone">
          לא בוצע
        </button>
      </div>
      @if (!isPastDue(todo.date)) {
      <button (click)="openEdit(todo)">Edit</button>
    }
 
    @if (todo === edited) {
      <div class="edit-form">
        <div>
          <label>Title</label>
          <input type="text" [(ngModel)]="edited.title" />
        </div>
        <div>
          <label>Expected Date</label>
          <input type="date" [(ngModel)]="edited.date" />
        </div>
        <button (click)="closeEdit()">Close</button>
      </div>
    }
      <div>{{ $last ? 'זוהי המשימה האחרונה שלך...' : '' }}</div>

    </div>
  } @empty {
    <h2>No todos available</h2>
  }
</div>
